/* Media query for phones (max-width: 480px) */
@media (max-width: 580px) {
    header {
        font-size: 21px;
    }
    .menu li {
        margin-right: 30px;
    }
}

@media (max-width: 450px) {
    header {
        font-size: 18.5px;
    }
    .menu li {
        margin-right: 20px;
    }
}

@media (max-width: 335px) {
    header {
        font-size: 18px;
    }
    .menu li {
        margin-right: 20px;
    }
}



/* Media query for iPads (max-width: 768px) */
@media (max-width: 768px) {
    /* You can add specific styles for iPads here if needed */
}

/* Media query for larger monitors (min-width: 1200px) */
@media (min-width: 1200px) {
    /* You can add specific styles for larger monitors here if needed */
}
