/* Media query for phones (max-width: 480px) */
@media (max-width: 1250px) {

    .experience-card {
        width: 55%;
    }

    section {
        width: 75%;
    }
}

@media (max-width: 1000px) {

    .experience-card {
        width: 60%;
    }

    section {
        width: 80%;
    }
}

@media (max-width: 800px) {

    .experience-card {
        width: 70%;
    }
}

@media (max-width: 775px) {

    .project-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: 20px;
        justify-content: center;
    }
}

@media (max-width: 660px) {
    header {
        font-size: 21px;
    }

    .menu li {
        margin-right: 30px;
    }

    .experience-card {
        margin: 0 auto;
        width: 80%;
    }
}

@media (max-width: 500px) {
    header {
        font-size: 18px;
    }

    .menu li {
        margin-right: 20px;
    }

    .experience-card {
        margin: 0 auto;
        width: 100%;
    }
}

@media (max-width: 335px) {
    header {
        font-size: 18px;
    }

    .menu li {
        margin-right: 20px;
    }
}



/* Media query for iPads (max-width: 768px) */
@media (max-width: 768px) {
    /* You can add specific styles for iPads here if needed */
}

/* Media query for larger monitors (min-width: 1200px) */
@media (min-width: 1200px) {
    /* You can add specific styles for larger monitors here if needed */
}