/* Body */
body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Dark Background Color */
    color: #fff; /* Text Color */
}


/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 22px;
    padding: 10px 0;
    background-color: #393939; /* Background color for the header */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional box shadow for a subtle elevation effect */
    z-index: 1000; /* Ensure the header stays on top of other elements */
}

/* Not in use */
.logo img {
    height: 50px; /* Adjust the height as needed */
}

/* Not in use */
.mobile_menu_icon {
    display: none;
}

nav {
    display: flex;
    justify-content: center;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu li {
    margin: 0px;
    margin-right: 40px;
}

.menu a {
    text-decoration: none;
    color: #e8e8e8; /* Link color */
    font-weight: bold;
    transition: color 0.5s;
    display: block;
}

.menu a:hover {
    color: #ff5e00; /* Hover color */
}

h1 {
    color: #dedede;
}

/* Main */
main {
    width: 100%;
    /* margin: 0 auto; */
    padding-top: 60px;
}

section {
    width: 70%;
    margin: 0 auto;
}

/* About Section */
#about {
    padding: 40px;
    text-align: center;
}

#about p {
    font-size: 18px;
    line-height: 1.6;
    color: #8d8d8d;
}

.social-icon {
    margin-right: 10px;
    color: #8d8d8d;
}

.social-icon:hover {
    color: #2e8ac7;
}

.skill-bar {
    margin-bottom: 20px;
    position: relative;
    text-align: left; /* Align the text to the left within the skill bar */
}

.skill-name {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #8d8d8d; /* Gray Text Color */
}

.skill-level {
    height: 20px;
    width: 100%; /* Set default color for the entire bar */
    background-color: #eee; /* Default color for the entire bar */
    position: relative;
    overflow: hidden;
}

.fill {
    display: block;
    height: 100%;
    width: 0;
    background-color: #4CAF50; /* Color to fill the bar */
    transition: width 1s ease;
}

.percentage-container {
    position: absolute;
    top: 0;
    right: 0;
    color: #8d8d8d;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center; /* Center vertically */
}

.percentage {
    margin: 0;
    display: inline-block;
    padding-left: 5px; /* Add padding for space between percentage and the bar */
}

/* Additional styling for better readability */
.skill-bar p {
    margin: 0; /* Remove default margin for paragraphs within skill bars */
}

/* Resume Section */
#resume {
    padding: 40px;
    text-align: center;
}

#resume p {
    font-size: 18px;
    line-height: 1.6;
    color: #8d8d8d;
}

.pdf {
    color: #2e8ac7;
    text-decoration: none;
}

.experience-card {
    margin: 0 auto;
    width: 45%;
    background-color: #282828;
    color: #e7e7e7;  /*  Also need to change p in-line style for experience-card-inner meta  */
    margin-top: 30px;
}

.experience-card-inner {
    margin-bottom: 20px;
}

.experience-card-inner-ul-div {
    width: 90%;
    margin: auto 30px;
}

.experience-card-inner-title-div {
    width: 95%;
    margin: 0 auto;
}

.experience-card-inner ul {
    text-align: left;
    list-style: square;
    padding: 0;
    margin: 0;
    font-size: 17px;
}

.experience-card-inner li {
    margin-bottom: 3px;
}

/* Projects Section */
#projects {
    padding: 40px;
    text-align: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.project-card {
    background-color: #242424;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-card h4 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #e0e0e0;
}

.project-card p {
    font-size: 16px;
    line-height: 1.6;
    color: #cecece;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #268fd4; /* Blue color for the link */
    color: #eeeeee;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.project-card a:hover {
    background-color: #2980b9; /* Darker blue on hover */
    color: #f7f7f7;
}

/* Contact Section */
#contact {
    padding: 40px;
    text-align: center;
}

#contact p {
    font-size: 18px;
    line-height: 1.6;
    color: #8d8d8d;
}

#contact a {
    color: #2e86c1; /* Blue color for links */
    text-decoration: none;
    font-weight: bold;
}

#contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    position: relative;
    width: 100%;
    background-color: #000000;
    color: #5d5d5d;
    text-align: center;
    font-size: 14px;
    padding: 1px 0;
    margin: 0;
}

.scroll-link {
    text-decoration: none;
    color: #a0a0a0; /* Arrow color */
    font-size: 24px;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px; /* Adjust as needed to position the arrow */
    cursor: pointer;
    transition: color 0.3s;
}

.scroll-link:hover {
    color: #ff5e00; /* Hover color */
}